---
title: 'Capital Development Detroit Home Improvement | Trusted Detroit Home Renovations & Handyman Services | Free Estimates | Call Today'
description: 'Transform your home with Capital Development Home Improvement. Certified in residential renovations and OSHA-safe practices, we offer expert services like TV mounting, drywall repairs, painting, and custom carpentry. Proudly serving Detroit with free estimates and affordable rates. Call or text us today at (+313) 444-9308!'
preloadImg: '/assets/images/landing.jpg'
permalink: '/'
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/local.css" />
    <link rel="stylesheet" href="/assets/css/critical.css" />

  
    <!-- Script for Netlify Identity -->
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script defer>
        if (window.netlifyIdentity) {
            window
                .netlifyIdentity
                .on('init', (user) => {
                    if (!user) {
                        window
                            .netlifyIdentity
                            .on('login', () => {
                                document.location.href = '/admin/';
                            });
                    }
                });
        }
    </script>

{% endblock %}

{% block body %}

    
{% include 'components/hero.html' %}
{% include 'components/newcta.html' %}
{% include 'components/2.html' %}

{% include 'components/3.html' %}






    {% endblock %}